@{
    ViewData["Title"] = "Şifre Yenileme";
    string msj = TempData["success"] as string;
}

@model ResetPasswordViewModel
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Şifremi Unuttum </p>
                <h2 class="fw-bold">Şifre</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                            <i class="bi bi-person-square"></i>
                        </div>
                        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                        </div>
                        @if (true)
                        {
                            <div class="alert aler-info btn btn-info">
                                <h2 class="display2">Hoş geldiniz</h2>
                                <p role="alert">Yeni şifrenizi belirleyin.. </p>
                            </div>

                        }
                        else
                        {
                            <div class="alert aler-info btn btn-success">
                                <h2 class="display2">Hoş geldiniz</h2>
                                <p role="alert">
                                    Tebrikler yeni şifreniz oluşturuldu <br>
                                    giriş yapabilirsiniz...!
                                </p>
                            </div>
                        }

                        <form asp-controller="User" asp-action="ResetPassword" method="post">
                            <div class="mb-3">
                                <input class="form-control" type="password" asp-for="Password" placeholder="Yeni Şifre" required>
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="password" asp-for="PasswordConfirm" placeholder="Yeni Şifre Tekrar" required>
                                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                            </div>
                            <input type="submit" asp-controller="User" asp-action="ResetPassword" class="btn btn-outline-success" value="Şifreyi değiştir" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






@section scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")



}
