@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer name="altBilgi" class="footer">
    <div class="footer-inner-wraper">
        <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
            <span class="text-muted text-primary text-center text-sm-left d-block d-sm-inline-block">Copyright © <a class="display-1" href="/" target="_blank">Reis Teknik Hırdavat</a> @DateTime.Now.Year</span>
            <span class="float-none text-primary float-sm-right d-block mt-1 mt-sm-0 text-center"> programmed by <a href="/" target="_blank"> Fahreddin Ekinci </a> </span>
        </div>
    </div>
</footer>